@import "partials/setup";


$raleway: 'Raleway', sans-serif;
$opensans: 'Open Sans', sans-serif;
$georgia: Georgia, Times, "Times New Roman", serif;
$red:#e93b34;
* {
	transition: all 1s;
}
html {
	font-size:62.5%;
}

body {
	font-family:$raleway;
}

h1, h2, h3, h4, h5, p, a, ul {
	margin:0;
	padding:0;
	display:inline-block;
}

h1 {
	font-size:5.6rem;
	font-weight:100;
}

h2 {
	font-size:4.5rem;
	font-weight:100;
}

h3 {
	font-size:3.5rem;
	font-weight: normal;
}

h4 {
	font-size: 2.0rem;
	font-weight: normal;
}

h5 {
	font-size:1.5rem;
	font-weight:normal;
}

.raleway {
	font-family:$raleway;
}

.opensans, .opensans h4, .opensans h3 {
	font-family:$opensans;
	font-weight:700;
}

.georgia {
	font-family: $georgia;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

@mixin buttonColor($colorValue) {
	width:170px;
	padding:10px;
	color:$colorValue;
	border:2px solid $colorValue;
	background-color: rgba(255,255,255,0);
	font-size:1.2rem;
	a {
		color:$colorValue;
		&:hover{
			color:$red;
		}
	}
}

button {
	@include buttonColor(white);
}

.container {
	max-width:1920px;
	width:100%;
	margin:0 auto;
}

.wrapper {
	width:70%;
	margin:0 auto;
	@media (max-width: 768px) {
		width:90%;
	}
}

.red {
	color:$red;
}
/* HEADER **********************/

.navTop {
	height:140px;
	display:flex;
	justify-content:space-between;
	.logo {
		margin:auto;
	}

}

.navTop .fa {
	font-size:1.2rem;
	color:lightgrey;
	&:hover {
		color:red;
		cursor: pointer;
	}
}


.navTop img {
	width:88px;
	vertical-align: middle;
	@media (max-width: 480px) {
		width:50px;
	}
}


.navTop div {
	padding:40px 30px;
	h4 {
	    position: relative;
	    // top: -50%;
	    @media (max-width: 480px) {
	    	// top: -30%;
	    	font-size:1.5rem;
	    }
	}
}

.navTop .navTopItem {
	// padding-top:65px;
	margin:auto;
	@media (max-width: 480px) {
		padding-left: 10px;
		padding-right: 10px;
	}

}

.navBottom {
	background-color: black;
	color:white;
	font-family:$raleway;
}

.navBottom ul {
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:1.2rem;
	@media (max-width: 768px) {
		flex-direction:column;
		width:100%;
	}
}

.navBottom ul li {
	padding:24px 50px;
	border-left:1px solid grey;
	@media (max-width:940px) {
		padding:12px 25px;
	}
	@media (max-width: 768px) {
		border:none;
		border-bottom: 1px solid grey;
		width:100%;
		text-align: center;
	}
	a {
		color:white;
		position:relative;
		&:hover {
		color:$red;
		cursor:pointer;
		}
		&:before {
		  content: "";
		  position: absolute;
		  width: 100%;
		  height: 1px;
		  bottom: 0;
		  left: 0;
		  background-color: $red;
		  visibility: hidden;
		  transform-origin:0% 0%;
		  -webkit-transform: scaleX(0);
		  transform: scaleX(0);
		  -webkit-transition: all 0.3s ease-in-out 0s;
		  transition: all 0.3s ease-in-out 0s;
		}
		&:hover:before {
		  visibility: visible;
		  -webkit-transform: scaleX(1.5);
		  transform: scaleX(1.5);
		}
	}

}

.navBottom ul li:last-child {
	border-right:1px solid grey;
	@media (max-width: 768px) {
		border:none;
	}
}

.hero {
	background:url("../Assets/header-big.jpg");
	background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}

.hero .overlay {
	position:relative;
	background-color:rgba(255,255,255,0.3);
	height:calc(100vh - 200px);
	text-align: center;
	@media (max-width: 768px) {
		height:400px;
	}
	@media (max-width: 480px) {
		height:300px;
	}
	p {
		color:white;
		font-size:20px;
		font-weight:100;
		display:block;
	}
	h1 {
		color:white;
		line-height: 4.5rem;
		@media (max-width: 480px) {
			font-size:4.5rem;
		}
	}
	button {
		margin-top: 30px;
		@media (max-width: 480px) {
			margin-top:5px;
		}
	}
}

.hero .overlay .overlayTop {
	position:relative;
	top:50%;
	transform:translateY(-50%);

}

.hero .overlay .dashes {
	position:absolute;
	top:73%;
	left:50%;
	transform:translateX(-50%);
	width:20%;
 	justify-content:center;
	display:flex;
	font-size:30px;
	font-weight:100;
	color:white;
}

.dashes div {

	padding:50px 10px 20px 10px;
}

.dashes div:hover {
	font-weight:400;
	cursor:pointer;
}

/** INTRO ********************/

.intro {
	display:flex;
	flex-wrap:wrap;
	.donator,.volunteer, .adopter {
		width:33.33%;
		position:relative;
		font-size:0;
		@media (max-width:940px) {
			width:100%;
		}
		.overlay {
			position:absolute;
			width:80%;
			top:50%;
			left:50%;
			transform:translate(-50%, -50%);
			text-align: center;
			@media (max-width:1196px) {
				width:90%;
			}
			h2 {
				font-weight: 400;
				color:white;
				display:block;
				@media (max-width:1196px) {
					font-size:3.5rem;
				}
			}
			p {
				color:grey;
				opacity:0.5;
				display:block;
				font-size:1.6rem;
				padding-bottom:10%;
				width:80%;
				margin:0 auto;
				@media (max-width: 1196px) {
					padding-bottom:3%;
				}
			}
			button {
				
				opacity: 0.5;
			}
			.mdash {
				font-size: 5rem;
				font-weight: 100;
				padding-bottom:10px;
			}
		}
	}
	img {
		width:100%;
	}
}

/***** Fundraise ****************/

.fundraise {
	background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.9)),url("../Assets/donate.jpg");
	background-size:cover;
	text-align: center;
	.fundraiseTop {
		padding-top: 80px;
		display:flex;
		flex-wrap:wrap;
		justify-content:center;
		align-items:center;
		.heading, .status, .stats {
			width:30%;
			@media (max-width: 768px) {
				width:100%;
			}
		}
	}
}

.fundraise .details button {
	@include buttonColor(grey);
	margin-top:30px;
	margin-bottom: 100px;

}

.fundraise .fundraiseTop .heading {
	text-align:right;
	padding-bottom:20px;
	@media (max-width: 768px) {
		text-align:center;
	}
	h2 {
		line-height: 4.5rem;
		display:block;
	}
}

.fundraise .fundraiseTop .status {
	position:relative;
		img {
		width:80%;
		@media (max-width: 768px) {
			width:40%;
		}
	}
		div {
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);
			h5 {
				display:block;
			}
		}
}
.fundraise .fundraiseTop .stats {
	text-align: left;
	@media (max-width:768px) {
		text-align: center;
		padding-top:20px;
	}
	h4 {
		display:block;
	}
}

.fundraise .quote {
	width:55%;
	margin:0 auto;
	blockquote {
		display:inline-block;
		font-size:1.8rem;
		width:80%;
		margin-top: 0;
	}
	.fa-quote-left, .fa-quote-right {
		color:$red;
		font-size:2.5rem;
		vertical-align: top;
	}
	div p {
		font-size:1.2rem;
		padding-bottom:100px;
	}

}

/** RECENT CAUSES ***************/

.recentCauses .wrapper .header {
	text-align: center;
	padding-top:80px;
	ul {
		display:flex;
		justify-content:center;
		li {
			padding:0 40px;
			@media (max-width: 768px) {
				padding:0 10px;
			}
			a {
				color:lightgrey;
				&:hover{
					color:red;
				}
			}
		}
	}
}

.recentCauses .wrapper .infoBox {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-bottom: 80px;
}

.infoBox1, .infoBox2, .infoBox3 {
	width:32%;
	text-align: center;
	border:1px solid lightgrey;
	margin-top: 50px;
	@media (max-width: 768px) {
		width:100%;
	}
	> p {
		font-size:1.3rem;
		color:lightgrey;
		padding:20px 0;
	}
	> img {
		width:100%;
		vertical-align: top;
	}
	.overlay {
		position:relative;
		font-size:0;
		h4 {
			position:absolute;
			top:75%;
			left:50%;
			transform:translateX(-50%);
			color:white;
			width:100%;
		}
		img {
			width:100%;
		}
	}

}

.infoBox .infoBoxMiddle {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	align-items:center;
	padding:20px;
	h3, h4 {
		line-height: 1rem;
	}
}

.donateButton button {
	@include buttonColor(grey);
}

@media (max-width:940px) {
	.infoBox .infoBoxMiddle div {
		width:100%;
	}
	
	.infoBox .infoBoxMiddle p.georgia {
		padding-top: 10px;
		padding-bottom: 20px;
	}

}

/** PICTURES ************/

.carousel {
  background: #FAFAFA;
  font-size:0;
}

.carousel-cell {
  height: 150px;
}


/** BLOG ***************/
.blog {
	background: url("../Assets/smallhands3.png");
	background-size:cover;
	padding:80px 0;
	.wrapper {
		text-align: center;
		h2 {
			display:block;
			text-align: center;
			color:white;
			display:inline-block;
		}
		button {
			margin-top:40px;
		}
	}
}

.blogMain {
	display:flex;
	flex-wrap:wrap;
	.blogLeft {
		width:50%;
		display:flex;
		flex-wrap:wrap;
		@media (max-width: 940px) {
			width:100%;
		}
		@media (max-width: 480px) {
			
		}
		.blogItems {
			width:calc(50% - 10px - 10px);
			margin:10px;
			background-color: white;
			text-align: center;
			@media (max-width: 480px) {
				width:100%;
			}
			img {
				width:100%;
			}
		
			i {
				color:$red;
			}
		}
	}

	.blogFeature {
		width:calc(50% - 10px - 10px);
		margin:10px;	
		background-color: white;
		@media (max-width: 940px) {
			order:-1;
			width:100%;
		}
		img {
			width:100%;
		}
		> div {
			padding:20px;
			i {
				color:$red;
			}
			.title {
				display:block;
				font-size: 2rem;
				text-align: left;
			}
			.red {
				display: block;
				text-align: left;
				padding-bottom:20px;
			}
			.paragraph {
				text-align: left;
				display:block;
			}
		}	
	}
}

.blogFeature .icons {
	display:flex;
	justify-content:space-between;
	padding-bottom:40px;
	p {
		padding-left: 5px;
	}
}
.blogMain .blogLeft .blogItems p {
	padding:20px;
	padding-left: 5px;
}

.blogMain .blogLeft .blogItems p:last-of-type {
	padding-right: 0px;
}


/** STATS **********************/

.statsBar {
	background: linear-gradient(to right, rgba(52,149,200,0.8),rgba(197,72,68,0.8)), url("../Assets/swirl_pattern.png") repeat;
	display:flex;
	justify-content:space-around;
	@media (max-width: 480px) {
		flex-direction:column;
	}
	.statsItem {
		text-align: center;
		padding:50px 0;
		@media (max-width: 480px) {
			padding:20px 0;
		}
		img {
			display:block;
			width:50%;
			margin:0 auto;
			@media (max-width: 480px) {
				width:20%;
			}
		}
		.people {
			width: 35%;
			@media (max-width: 480px) {
				width:20%;
			}
		}
		.heart {
			width:40%;
			@media (max-width: 480px) {
				width:20%;
			}
		}
		h3 {
			display:block;
			font-family: $opensans;
			color:white;
			font-weight: 700;
		}
		p {
			display:block;
		}
	}
}

/** VOLUNTEER *******************/
.volunteer .wrapper {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	.volunteerItem {
		width:33.33%;
		padding-top: 80px;
		padding-left:20px;
		padding-right:20px;
		padding-bottom: 80px;
		img {
			width:100%;
		}
		h4 {
			padding-bottom:30px;
			font-weight: 100;
		}
		> p {
			font-size:1.3rem;
			color:lightgrey;
			padding-bottom: 30px;
		}

		.para {
			padding-top: 30px;
		}
	}
}

@media (max-width:1196px) {
	.volunteer .wrapper .item2, .volunteer .wrapper .item3  {
		width:50%;
		padding-top:10px;
	}
	.volunteer .wrapper .item1 {
		width:100%;
		.image .overlay button {
			top:60% !important;
		}
	}
}

@media (max-width:768px) {
	.volunteer .wrapper .item1, .volunteer .wrapper .item2, .volunteer .wrapper .item3 {
		width:100%;
	}
	.volunteer .wrapper .item1 {
		padding-bottom: 30px;
	}
	.volunteer .wrapper .item2 {
		padding-top:0px;
		padding-bottom: 30px;
	}
	.volunteer .wrapper .volunteerItem form input {
			width:90% !important;
	}

}

@media (max-width:480px) {
	.volunteer .wrapper .volunteerItem form input {
			width:80% !important;
	}
}
.volunteer .wrapper .volunteerItem ul {
	list-style: none;
	width:100%;
	padding:0;
	margin:0;
	li {
		border-top:1px solid lightgrey;
			p {
			color:grey;
			font-size:1.5rem;
			line-height:3rem;
		}
	}
}

.fa-circle-thin {
	font-size:1.5rem;
	color:red;
	padding:5px 10px;
}

.volunteer .wrapper .volunteerItem ul li:last-child {
	border-bottom:1px solid lightgrey;
}

.volunteer .wrapper .volunteerItem form {
	input {
		width:80%;
		padding:5px 20px;
		vertical-align: middle;
		margin-bottom: 5px;
	}
	img {
		height:26px;
		width:25px;
		vertical-align: middle;
		margin-bottom: 7px;
	}
	img.rotate {
		transform:rotate(90deg);
		
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightgrey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: lightgrey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: lightgrey;
}
:-moz-placeholder { /* Firefox 18- */
  color: lightgrey;
}

.volunteer .wrapper .volunteerItem .image {
	position:relative;
	.overlay {
		background:rgba(0,0,0,0.2);
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		text-align:center;
		display:flex;
		flex-direction:column;
		justify-content:flex-end;
		h4 {
			width:80%;
			text-align: center;
			font-family: $raleway;
			font-weight: 400;
			color:white;
			line-height: 2.3rem;
			font-size:2.5rem;

		}
		button {
		margin-bottom: 40px;	

		}
	}
}

/** CONTACT ****************/

.contact {
	background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("../Assets/googlmapimageopac.png");
	background-size: cover;
}

.contact .wrapper {
	text-align: center;
	h2 {
		display:block;
		padding-top: 80px;
		padding-bottom: 40px;
	}
	.contact {
		display:flex;
		flex-wrap:wrap;
		.contactItem {
			width:33.33%;
			@media (max-width: 768px) {
				width:100%;
				padding:10px;
			}
			img {
				display:block;
				width:10%;
				margin: 0 auto;
				padding-bottom: 20px;
			}
			img.map {
				width:7%;
			}
			img.mail {
				width:13%;
			}
			p {
				display:block;
				color:lightgrey;
			}
			a {
				color:lightgrey;
				&:hover{
					color:$red;
				}
			}
		}
	}
}

.contact .wrapper form {
	position:relative;
	top:50px;
	background-color: white;
	margin-top: 30px;
	padding:30px;
	div{
		display:flex;
		flex-wrap:wrap;
		div {
			width:50%;
			@media (max-width: 768px) {
				width:100%;
			}
			input {
				width:100%;
				margin:5px;
				padding:5px;
				border:1px solid lightgrey;
			}
			textarea {
				width:100%;
				margin:5px;
				border:1px solid lightgrey;
				@media (max-width: 768px) {
					height:200px;
				}
			}
		}
	}
	
}

.contact .wrapper form {
	font-size:1.5rem;
	input.name {
		background: url("../Assets/person-small.png")no-repeat;
		background-position: 8px 14px;
		padding-left:30px;
		padding-top:15px;
		padding-bottom:15px;
	}
	input.email {
		background: url("../Assets/mail-small.png")no-repeat;
		background-position: 8px 14px;
		padding-left:30px;
		padding-top:15px;
		padding-bottom:15px;
	}
	input.web {
		background: url("../Assets/earth-small.png") no-repeat;
		background-position: 8px 14px;
		padding-left:30px;
		padding-top:15px;
		padding-bottom:15px;
	}
	textarea {
		background: url("../Assets/pencil-small.png") left no-repeat;
		background-position: 8px 14px;
		padding-left:30px;
		padding-top:15px;
		padding-bottom:15px;
	}
	.submit {
		@include buttonColor(lightgrey);
		margin:20px;
	}
}

/*** FOOTER ************/

footer {
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../Assets/circles-pattern.png");
	text-align: center;
	padding-top: 80px;
}

footer .footerBottom {
	background: rgba(0,0,0,0.5);
}


.footerTop img {
	width:88px;
}


.footerTop div{
	padding:40px 30px 20px 30px;
	h4 {
	    position:relative;
	    top:-30px;
	    color:white;
	}
}

footer form {
	width:15%;
	margin:0 auto;
	@media (max-width: 768px) {
		width:30%;
	}
	input[type=email] {
		width:100%;
		padding:10px;
		text-align: center;
	}
	input[type=submit] {
		@include buttonColor(white);
		width:100%;
		margin-top:10px;
		margin-bottom:80px;
	}
}

footer .footerBottom {
	color:grey;
	font-size:1.3rem;
	height:100px;
	vertical-align: bottom;
	padding-top: 70px;
	img {
		width:5%;
		vertical-align: bottom;
	}
}

/******* MEDIA QUERIES ************/

@media (max-width: 1196px) {

}
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}